<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Qibas</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/styles/vendor/normalize.css">
    <link rel="stylesheet" href="/static/styles/global.css">

    <script src="/static/scripts/vendor/reqwest.js"></script>
</head>

<body>
    <div id="content" class="content"></div>

    <script src="/static/scripts/vendor/react.js"></script>
    <script src="/static/scripts/require-config.js"></script>
    <script src="/static/scripts/vendor/require.js" data-main="build/index.js"></script>
</body>

</html>

